body {
    height: 100vh;
    background: linear-gradient(to bottom, #009688 18%, #D7DBD7 18% 100%);
    overflow: hidden;
}

.box {
    width: 1500px;
    height: 825px;
    background-color: white;
}

.top {
    height: 70px;
    background-color: #EAEAEA;
}

.notifications {
    height: 100px;
    background-color: #8EDAFC;
    cursor: pointer;
}

.chat {
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: 685px;
    background-size: contain;
    overflow-y: scroll;

}

.bottom {
    height: 70px;
    background-color: #F3EEEA;
}

.search {
    background-color: #FAFAFA;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.fa-solid {
    color: #B1B1B1;
    cursor: pointer;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50px;
}

.grey {
    color: grey;
}

.azure {
    color: #8EDAFC;
}

.message {
    overflow-y: scroll;
}

.green {
    background-color: #D5F9BA;
}

.contenitore {
    width: 80%;
}

.data {
    font-size: 12px;
    margin-bottom: 0px;
}